footer {

    .menu {
        padding: $padding_default;
        padding-top: 75px;
        padding-bottom: 20px;

        background-color: #ececec;

        &:after {
            content: "";
            clear: both;
            display: table;
        }

        .col-4 {

            width: 25%;
            float: left;
        }

        ul {
            margin-top: 15px;
            list-style: none;

            li {

                margin: 7px 0;
            }
        }

        a {
            text-decoration: none;

            color: #8e8a8a;

            &:hover {

                text-decoration: underline;

                color: #6b6969;
            }
        }

        .social {

            margin-top: 25px;

            a {

                margin-right: 5px;

                font-size: 40px;

                .fa-facebook-square {
                    color: #3b5998;
                }

                .fa-twitter-square {
                    color: #3b5998;
                }

                .fa-youtube-square {
                    color: #CD201F;
                }

                .fa-pinterest-square {
                    color: #BD081C;
                }

                .fa-rss-square {
                    color: #ff8d00;
                }
            }
        }
    }

    .credits {
        padding: $padding_default;
        height: 100px;

        background-color: #1e1e1e;
        color: #fff;

        img {
            margin-top: 10px;
            margin-right: 30px;
        }

        ul {
            margin-top: 30px;
            width: 65%;

            float: right;
            list-style: none;

            font-size: 14px;
            text-align: right;

            li {

                display: inline-block;

                margin-left: 25px;

                a {
                    text-decoration: none;

                    color: #837f7f;

                    &:hover {

                        color: #fff;

                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
